<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
my_data <- head(iris)
names(my_data) <- c(letters[1:ncol(iris)])
library("knitr")
kable(my_data)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->


<!--begin.rcode fig.width=7, fig.height=6
my_data <- head(iris)
names(my_data) <- c(letters[1:ncol(iris)])
library(xtable)
print(xtable(my_data), type = 'html')
end.rcode-->
</body>
</html>
